body {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    left: 0;
    top: 8rem;
    height: 17rem;
    width: 3.5rem;
    background-color: beige;
    transition: width 200ms ease;
}
#navLinks {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#navLinks li {
    width: 100%;
}
.navLink {
    display: flex;
    align-items: center;
    height: 3.5rem;
}
#navLinks li i {
    max-width: 2rem;
    padding: 0 0.6rem;
    margin: 0;
}
.navText {
    display: none;
    white-space: nowrap;
    margin-left: 1rem;
}
nav:hover {
    width: 13rem;
}
nav:hover .navText {
    animation: fadeIn 200ms;
    display: block;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
main {
    margin-left: 3.5rem;
}
.content {
    width: 60%;
    margin: 0 auto 0;
}
#welcomePage p {
    text-align: right;
    width: 40%;
    margin-right: 0;
    margin-left: 60%;
    border-bottom: solid blue 0.5rem;
    border-right: solid blue 0.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
}
#welcomePage h1 {
    width: 60%;
    border-top: solid orange 0.5rem;
    border-left: solid orange 0.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
#welcomePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}