:root {
    --background-color: white;
    --text-color: black;
    --navbar-color: beige;
    --border-color: blue;
    --nav-icons-color: green;
    --nav-icons-hover-color: rgb(2, 62, 2);
    --link-hover-color: red;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}
nav {
    position: fixed;
    left: 0;
    top: 8rem;
    height: 17rem;
    width: 3.5rem;
    background-color: var(--navbar-color);
    transition: width 200ms ease;
}
#navLinks {
    color: var(--nav-icons-color);
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#navLinks li {
    width: 100%;
}
.navLink {
    text-decoration: none;
    color: var(--nav-icons-color);
    display: flex;
    align-items: center;
    height: 3.5rem;
    transition: color 150ms;
}
.navLink:hover {
    color: var(--nav-icons-hover-color);
}
#navLinks li i {
    max-width: 2rem;
    padding: 0 0.6rem;
    margin: 0;
}
.navText {
    display: none;
    white-space: nowrap;
    margin-left: 1rem;
}
nav:hover {
    width: 13rem;
}
nav:hover .navText {
    animation: fadeIn 200ms;
    display: block;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
main {
    margin-left: 3.5rem;
}
.content {
    width: 60%;
    margin: 0 auto 0;
}
#welcomePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#welcomePage p {
    text-align: right;
    width: 40%;
    margin-right: 0;
    margin-left: 60%;
    border-bottom: solid var(--border-color) 0.5rem;
    border-right: solid var(--border-color) 0.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
}
#welcomePage h1 {
    width: 60%;
    border-top: solid var(--border-color) 0.5rem;
    border-left: solid var(--border-color) 0.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
#projects {
    height: 100vh;
}
#tileContainer {
    padding: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}
.projectTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 200ms;
}
.projectTile img {
    max-width: 18vw;
}
.projectTile p {
    width: 80%;
    text-align: justify;
}
.projectTile:hover {
    transform: scale(1.2);
}